@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  --overlay-bg-color: rgba(255, 255, 255, 0.832);
}

html.dark {
  --overlay-bg-color: rgba(7, 10, 16, 0.85);
}

.pageOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--overlay-bg-color);

  z-index: -5;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.1;
}

body.home-page-active .pageOverlay {
  opacity: 0.2;
}

body.other-page-active .pageOverlay {
  opacity: 1;
}
